<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ITI.SFML.Audio" version="0.0.0-b" targetFramework="net461" />
  <package id="ITI.SFML.Graphics" version="0.0.0-b" targetFramework="net461" />
  <package id="ITI.SFML.System" version="0.0.0-b" targetFramework="net461" />
  <package id="ITI.SFML.Window" version="0.0.0-b" targetFramework="net461" />
</packages>